**/.bloop
.metals
.DS_Store
.cache
.cache/
.classpath
.history
.history/
.idea
.lib/
.project
.scala_dependencies
.settings
.target
.worksheet
project/boot/
project/plugins/project/
project/project
project/target
core/js/build/index.js
core/js/src/test/js/recrypt-core-opt.js
core/js/src/test/js/recrypt-core-opt.js.map
target
target/
tmp
.cache-main
.cache-tests
*.sublime-workspace
*.sublime-project
.metals/
.bsp
.vscode
project/metals.sbt
